= form_for(@prototype, html: {class: 'container proto-new'}) do |f|
  .col-md-8.col-md-offset-2
    %header.row.user-nav.row
      .col-md-12
        = f.text_field :title, class: "proto-new-title", placeholder: "Title"
    .row
      = f.fields_for :captured_images do |img|
        .col-md-12
          .cover-image-upload
            = img.file_field :image
    .row.proto-description
      .col-md-12
        = f.text_field :catch_copy, placeholder: "Catch Copy"
      .col-md-12
        = f.text_area :concept, placeholder: "Concept", size: "30x4"
      .col-md-12
        %h4 Tag List
        .row
          .col-md-3
            %input{type: "text", placeholder: "Web Design"}/
          .col-md-3
            %input{type: "text", placeholder: "UI"}/
          .col-md-3
            %input{type: "text", placeholder: "Application"}/
    .row.text-center.proto-btn
      = f.submit "Publish", class: "btn btn-lg btn-primary btn-block"